@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    @apply min-h-full h-full;
  }

  #app {
    @apply flex flex-col;
  }

  body {
    @apply bg-gray-200;
  }

  main {
    @apply flex-1;
  }
  
  h1 {
    @apply text-center;
  }
}
